[Interface]
Address = 10.8.0.20/32
PrivateKey = LAPTOP_PRIVATE_KEY_REPLACE
DNS = 10.8.0.1

[Peer]
PublicKey = SERVER_PUBLIC_KEY_REPLACE
Endpoint = YOUR_HOME_IP_OR_DDNS:51820
AllowedIPs = 10.8.0.0/24
PersistentKeepalive = 25
